<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <!-- Servlet Filters ================================================ -->

  <filter>
    <description>请求和应答字符编码过滤器</description>
    <filter-name>encoding-filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <servlet-name>spring-mvc</servlet-name>
  </filter-mapping>

  <!--ServletRequest ServletResponse拦截器-->
  <filter>
    <filter-name>changeResponseFilter</filter-name>
    <filter-class>com.iplayer.media.filter.ChangeResponseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>changeResponseFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>


  <!-- URL space mappings ============================================= -->
  <servlet>
    <servlet-name>spring-mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!--contextConfigLocation为固定参数名称-->
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <!--定义为1，是为了和tomcat一起启动-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>spring-mvc</servlet-name>
    <!--<url-pattern>*.do</url-pattern>-->
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>

  <listener>
    <description>启动spring容器</description>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-context.xml</param-value>
  </context-param>

</web-app>
        